@model IEnumerable<NotificationDTO>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Notifications List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="NotificationCreate" class="btn btn-outline-primary">
					<i class="bi bi-plus-square"></i> Create New Notification
				</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Sender Name
					</th>
					<th>
						Message
					</th>
					<th>
						Type
					</th>
					<th>
						Status
					</th>
					<th>
						Created At
					</th>
					<th>
						Is Read
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.SenderName
						</td>
						<td>
							@item.Message
						</td>
						<td>
							@item.Type
						</td>
						<td>
							@item.Status
						</td>
						<td>
							@item.CreatedAt
						</td>
						<td>
							@item.IsRead
						</td>
						<td>
							<a asp-action="NotificationUpdate" asp-route-notificationId="@item.Id" class="btn btn-success">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a asp-action="NotificationDelete" asp-route-notificationId="@item.Id" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>